<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>UIDeviceFamily</key>
	<array>
		<integer>1</integer>
		<integer>2</integer>
	</array>
	<key>UISupportedInterfaceOrientations</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
	<key>MinimumOSVersion</key>
	<string>12.0</string>
	<key>CFBundleDisplayName</key>
	<string>bBall</string>
	<key>CFBundleIdentifier</key>
	<string>com.BBALL.bBall</string>
	<key>UILaunchStoryboardName</key>
	<string>LaunchScreen</string>
	<key>CFBundleName</key>
	<string>bBall</string>
	<key>CFBundleShortVersionString</key>
	<string>2.4</string>
	<key>CFBundleVersion</key>
	<string>2.3.8</string>
	<key>UIBackgroundModes</key>
	<array>
		<string>bluetooth-central</string>
		<string>bluetooth-peripheral</string>
	</array>
	<key>LSApplicationQueriesSchemes</key>
	<array>
		<string>bball.mr-avtomatika.com</string>
		<string>dbapi-8-emm</string>
	</array>
	<key>NSBluetoothPeripheralUsageDescription</key>
	<string>Bball need Bluetooth Privs</string>
	<key>NSBluetoothAlwaysUsageDescription</key>
	<string>BBall need Bluetooth Privs</string>
	<key>XSAppIconAssets</key>
	<string>Assets.xcassets/AppIcon.appiconset</string>
	<key>NSAppTransportSecurity</key>
	<dict>
		<key>NSAllowsArbitraryLoads</key>
		<true/>
	</dict>
	<key>NSCalendarsUsageDescription</key>
	<string>$(PRODUCT_NAME) user your calendar.</string>
	<key>NSLocationUsageDescription</key>
	<string>custom message</string>
	<key>NSLocationWhenInUseUsageDescription</key>
	<string>custom message</string>
</dict>
</plist>
